body {
	background-image:url(../images/fond.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 10px;
	color: black;
}

a:hover{
	background: none;
}
.barre{
	background: #F2F2F2;
	font-size: 17px;
}